@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    width:100vw;
    background-color:#70b775;
    
}
nav{
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:137px;
    height: 105px;
}
.logo img:hover{
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style:none;
    color: antiquewhite;
    align-items: center;
}
nav ul li{
    padding-left: 53px;
    font-family: 'Noto Serif Bengali', serif;
    font-weight: bolder;
}
nav ul li:hover{
    font-weight: lighter;
}
.search{
    padding-left: 45px;
    display: flex;
    align-items: center;
    width: 550px;
}
.search input{
    width:528px;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
}
.btn{
    width:70px;
    height:30px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
}
main{
    width:calc(100vh -210px);
    background-color: black;
}
.container{
    padding-top: 30px;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider img{
    width:44vw;
    height: 73vh;

}
.article{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding:30px 15px;
    color:#fff;
}
h1{
    text-decoration: underline;
}
.card{
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    height: 210px;
}
.carditem{
    height:200px;
}
.carditem img{
    width:245px;
    height: 129px;
    margin: 3px;
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    width:21vw;
    height:45vh;
    border-radius: 2px;
    background-color:#bd945f;
    margin:22px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}
.two img{
    width:21vw;
    height:45vh;

}
.section{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding:30px 15px;
    color:#fff;
}
footer{
    width:100vw;
    height:27px;
    font-family: 'Noto Serif Bengali', serif;
    font-weight: bolder;
    color:#fff;
    background-color: #70b775;
    text-align: center;
}